stages: [build, validate, test, analyze, package]

include:
  - component: 'gitlab.dvbern.ch/components/build/nx@1.5.0'
    inputs:
      app-name: '*-app'
      test-app-name: '*'
      context-dir: 'frontend'
      component-test-on: 'never'
      allow-test-failure: false
      allow-e2e-test-failure: false
      e2e-on: 'never'
      lint-on: '(branch|mr|default)'
      test-on: '(branch|mr|default)'
      build-additional-args: '--verbose'
      node-image: '$DVB_DOCKER_REGISTRY/dockerhub/library/node'
      node-version: ':22'

  # - component: 'gitlab.dvbern.ch/components/verify/sonarqube@1.2.0'
  #   inputs:
  #     sonar-scanner: cli
  #     context-dir: 'frontend'
  #     sonar-project-key: "$SONAR_PROJECT_KEY_FRONTEND"
  #     sonar-token: "$SONAR_TOKEN_FRONTEND"
  #     needs:
  #       - "nx-build"
  #       - "nx-test"

  - component: 'gitlab.dvbern.ch/components/package/buildah@1.3.0'
    inputs:
      name: package:sachbearbeitung-app
      context-dir: frontend
      image-name: 'sachbearbeitung-app'
      version: '$VERSION'
      build-latest: false
      build-args: |
        APP=sachbearbeitung-app

  - component: 'gitlab.dvbern.ch/components/package/buildah@1.3.0'
    inputs:
      name: package:gesuch-app
      context-dir: frontend
      image-name: 'gesuch-app'
      version: '$VERSION'
      build-latest: false
      build-args: |
        APP=gesuch-app

  - component: 'gitlab.dvbern.ch/components/package/buildah@1.3.0'
    inputs:
      name: package:sozialdienst-app
      context-dir: frontend
      image-name: 'sozialdienst-app'
      version: '$VERSION'
      build-latest: false
      build-args: |
        APP=sozialdienst-app

  - component: 'gitlab.dvbern.ch/components/package/buildah@1.3.0'
    inputs:
      name: package:demo-app
      context-dir: frontend
      image-name: 'demo-app'
      version: '$VERSION'
      build-latest: false
      build-args: |
        APP=demo-data-app
