# Add files here to ignore them from prettier formatting
.angular
.nx/cache
coverage
deploy
dist
libs/shared/model/gesuch/src/lib/openapi/
libs/tooling/nx-plugin/src/generators/lib/files/
/.nx/workspace-data