### Project specific ignores ###

# Place .gitignore settings specific to your project here
/lsp/
# Jest cache
**/jest-cache/
# project configuration incl. credentials
.env
/.envrc
# frontend generated
/frontend/libs/backend-models/src/lib/generated/.openapi-generator/FILES

## jpa buddy
.jpb

##### Common ignore settings ####

## Local developer / local build settings
/developer_local_settings/
build.properties
docker-compose.override.yml
/frontend/apps/frontend/src/environments/environment.localdev.ts
# default file for liquibase diff generation:
/server/backend/src/main/resources/liquibase/XXXX_diffchange.xml

## When opening test ressources, office creates temp files
**/~$*.xlsx

### Build systems ###

## Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

## Gradle
/local.properties
.gradle/

## Node.js / NPM
node_modules/
debug.log
npm-debug.log
# crash dump files
report.*.json

## Generic build output directories
dist/
build/


### Editors & IDEs ###

## IntelliJ
*.iml
*.iws
.idea/
# IntelliJ creates this directory in WAR-modules with WAR-dependencies
overlays/

## Eclipse
.metadata
.settings/
.loadpath
.project
.classpath
.externalToolBuilders/

## Netbeans
nbproject/

## Sublime
*.sublime-workspace

## Visual Studio Code
.vscode/


### Misc ###

## System Files
.DS_Store
Thumbs.db

## JVM
# Fatal Error logs
hs_err_pid*.log
# Remote Debugger temp files
.attach_pid*

## Files, that should never be ignored
!**/.gitkeep
!**/.gitignore
!**/.gitattributes
!**/.editorconfig

## playwright
**/*storage-state.json

## nx
.nx/
**/*playground*.ts
