# Root config file
config.stopBubbling = true

# Configure behavior
lombok.accessors.chain = true
lombok.log.fieldName = LOG
lombok.addNullAnnotations = checkerframework

# other stuff
lombok.addLombokGeneratedAnnotation = true
lombok.extern.findbugs.addSuppressFBWarnings = true

# lombok.anyConstructor.addConstructorProperties=true
