<html>
<body>
<h1>Guten Tag {vorname} {name}</h1>
<p>
  Für sie wurde ein Konto bei der Stip Applikation erstellt. Melden sie sich über den folgenden Link an:
</p>
<a href="{link.raw}">BE Login</a>
<p>
  Wenn Sie noch kein Konto mit dieser E-Mail-Adresse haben, müssen Sie eventuell ein Konto bei BE Login erstellen.
</p>

<h1>Bonjour {vorname} {name}</h1>
<p>
  Un compte a été créé pour eux sur l'application Stip. Connectez-vous via le lien suivant:
</p>
<a href="{link.raw}">BE Login</a>
<p>
  Si vous n'avez pas encore de compte avec cette adresse e-mail, vous devrez peut-être créer un compte chez BE Login.
</p>
</body>
</html>
