<html>
<body>
<p>Guten Tag</p>
<p>
  Im Anhang erhalten Sie die Darlehensverfügung zum Fall {vorname} {name}
</p>
<p>
  Freundliche Grüsse
</p>
<hr>
<p>
  {vornameSB} {nachnameSB} <br>
  {rolleSB} <br>
  Telefon: <a href="tel:{telSB}">{telSB}</a> <br>
  Email: <a href="mailto:{emailSB}">{emailSB}</a>
</p>
<p>
  <strong>Amt für zentrale Dienste</strong> <br>
  Bildungs- und Kulturdirektion <br>
  Sulgeneckstrasse 70, 3005 Bern <br>
  Telefon: <a href="tel:+41316338511">+41 31 633 85 11</a> <br>
  <a href="https://www.be.ch/ausbildungsbeitraege" target="_blank">www.be.ch/ausbildungsbeitraege</a>
</p>
</body>
</html>
