<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
	<p>
		anrede : java.lang.String
		<ul>
			<li>CASE_INSENSITIVE_ORDER: {anrede.CASE_INSENSITIVE_ORDER}</li>
		</ul>

	</p>
	<p>
		nachname : java.lang.String
		<ul>
			<li>CASE_INSENSITIVE_ORDER: {nachname.CASE_INSENSITIVE_ORDER}</li>
		</ul>

	</p>
	<p>
		korrespondenzSprache : ch.dvbern.stip.api.personinausbildung.type.Sprache
		<ul>
			<li>DEUTSCH: {korrespondenzSprache.DEUTSCH}</li>
			<li>FRANZOESISCH: {korrespondenzSprache.FRANZOESISCH}</li>
			<li>locale: {korrespondenzSprache.locale}</li>
		</ul>

	</p>
</body>
</html>
